In [47]:
import json
import requests
import pandas as pd
import numpy as np

In [48]:
url = 'https://raw.githubusercontent.com/hjorturlarsen/IMDB-top-100/master/data/movies.json'
top = pd.read_json(url)
top.rename(columns = {
    'title': 'Movie Title',
    'id': 'Id',
    'rank': 'Rank'},
    inplace = True)
top.set_index('Rank', inplace = True)
top[['Id', 'Movie Title']]

             Id                         Movie Title
Rank
1     tt0111161            The Shawshank Redemption
2     tt0068646                       The Godfather
3     tt0071562              The Godfather: Part II
4     tt0110912                        Pulp Fiction
5     tt0060196      The Good, the Bad and the Ugly
...         ...                                 ...
96    tt0051201         Witness for the Prosecution
97    tt0070735                           The Sting
98    tt0053604                       The Apartment
99    tt0095327              Grave of the Fireflies
100   tt0097576  Indiana Jones and the Last Crusade

[100 rows x 2 columns]